.blog {
  .site-main {
    display: flex;
    max-width: 960px;
    flex-direction: column;
    @media (min-width: $tabletSize) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    article {
      width: 100%;
      @media (min-width: $tabletSize) {
        width: 30%;
      }
      a {
        &:-webkit-any-link {
          color: $black;
        }
      }
    }
  }
}
