.custom-header {
	position: relative;
	min-height: 700px;
	background: url('https://2019.madrid.wordcamp.org/files/2019/01/wordcamp-madrid-bg-fondo-oso.jpg') no-repeat;
	background-size: cover;
	border-bottom-left-radius: 0 100%;
	border-bottom-right-radius: 80% 50%;
  box-shadow: 0 16px 0 rgba(255,0,0,0.2);
  .wp-custom-header, .custom-logo-link {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    position: relative;
  }
}

.site-title,.site-description {
	display: flex;
	color: #fff;
	font-size: 32px;
	font-size: 2rem;
	justify-content: center;
  padding-left: 2rem;
  a {
    color: #fff;
    font-size: 64px;
    font-size: 4rem;
    font-weight: bold;
    text-decoration: none;
  }
}