/*
  Menu
*/

.menu-toggle {
  visibility: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
  &:before {
    content: 'Menu';
    visibility: visible;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d13144;
    font-size: 18px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    text-decoration: none;
    height: 45px;
    flex: 1;
    position: absolute;
    margin-right: 0;
    margin-left: 0;
  }
  @media (min-width: $mediaDesktop)  {
    display: none;
  }
}

.dropdown-toggle {
  display: none;
}
.secondary-navigation {
  &.page-navigation-container {
    &.toggled-on {
      .menu-menu-1-container {
        display: flex;
      }
    }
    .menu-menu-1-container {
      display: none;
      @media (min-width: $mediaDesktop) {
        display: flex;
      }
      .menu {
        display: flex;
        flex-direction: column;
        list-style: none;
        background: $white;
        margin: 0 auto;
        max-width: 60rem;
        position: relative;
        width: 100%;
        padding: 0;
        @media (min-width: $mediaDesktop) {
          flex-direction: row;
        }
        li.menu-item {
          background: $white;
          min-width: 100px;
          display:flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          .sub-menu {
            display: none;
          }
          &:hover {
            background: $third;
            .sub-menu {
              display: flex;
              position: absolute;
              flex-direction: column;
              top: 90px;
              z-index: 1;
              padding-left: 65px;
              li {
                &.menu-item {
                  a {
                    height: 60px;
                    color: $primary;
                  }
                  &:hover {
                    background: $primary;
                    color: $white;
                  }
                }
              }
            }
            a {
              color: $white;
            }
          }
          a {
            color: $primary;
            font-size: 18px;
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            line-height: 1;
            text-decoration: none;
            margin: 0 20px;
            min-width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            @media (min-width: $mediaDesktop) {
              height: 90px;
            }
          }
          &.callout {
            background: $primary;
            @media (min-width: $mediaDesktop) {
              margin-left: auto;
            }
            a {
              color: $white;
              width: 320px;
            }
            &:hover {
              background: $white;
              a {
                color: $primary;
              }
            }
          }
        }
      }
    }
  }
}


